.quote-generator {
  h1 {
    padding: 10px;
    margin: 10px;

    font-size: 22px;
    font-weight: 600;
  }

  .quote {
    width: 450px;
    height: 225px;

    padding: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    p {
      padding: 10px;
      margin: 10px;

      font-size: 18px;
      text-align: justify;
    }

    span {
      padding: 10px;
      margin: 10px;
      text-align: end;
      align-self: flex-end;

      font-size: 16px;
      font-weight: 100;
    }
  }

  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    padding: 0;
    margin: 10px;
    cursor: pointer;

    .button_top {
      display: block;
      box-sizing: border-box;
      border: 2px solid var(--button_outline_color);
      border-radius: var(--button_radius);
      padding: 0.75em 1.5em;
      background: var(--button_color);
      color: var(--button_outline_color);
      transform: translateY(-0.2em);
      transition: transform 0.1s ease;
    }
  }

  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }

  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
}
