*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;

  font-family: "Gill Sans", Calibri, sans-serif;

  .App {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
