html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************************************/

#root {
  height: 100vh;
  width: 100vw;

  font-family: "Gill Sans", Calibri, sans-serif;

  #app {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    h1 {
      padding: 10px;
      margin: 10px;

      font-size: 22px;
      font-weight: 600;
    }

    p {
      width: 250px;
      height: 200px;
      padding: 10px;
      margin: 10px;

      display: flex;
      flex-direction: column;

      font-size: 18px;
      text-align: justify;

      span {
        padding: 10px;
        margin: 10px;
        align-self: flex-end;
        text-align: end;

        font-size: 16px;
        font-weight: 100;
      }
    }

    button {
      /* Variables */
      --button_radius: 0.75em;
      --button_color: #e8e8e8;
      --button_outline_color: #000000;
      font-size: 17px;
      font-weight: bold;
      border: none;
      border-radius: var(--button_radius);
      background: var(--button_outline_color);
      padding: 0;
      cursor: pointer;

      .button_top {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 1.5em;
        background: var(--button_color);
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
      }
    }

    button:hover .button_top {
      /* Pull the button upwards when hovered */
      transform: translateY(-0.33em);
    }

    button:active .button_top {
      /* Push the button downwards when pressed */
      transform: translateY(0);
    }
  }
}
